build/common/
build/depend.mak
build/diskc.img
build/diskd.img
build/geekos/
build/libc/
build/pagefile.bin
build/tools/builtFat.exe
build/tools/builtFat.exe.dSYM/
build/tools/gfs2f
build/tools/gfs3f
build/tools/gfs2f.dSYM/
build/tools/gfs3f.dSYM/
build/user/*.o
build/user/*.exe
.DS_Store
.vagrant
qemu
build/output.log
build/.gdbinit
.idea/
src/CMakeLists.txt
cmake-build-debug/
